Опыт разработки на Python (Go как плюс), опыт с Django Framework от 3х лет обязательно. Умение писать эффективный и...
Python. Django. Знание баз данных(виды связей, индексы и т.д.). Django_ORM. PostgreSQL. DRF. OpenAPI/Swagger. Celery или аналоги...
1) Python 3.x, понимание принципов ООП. 2) Важно, чтобы вы хорошо владели такими инструментами как Django, DRF, Celery. 
Понимание Agile и его основных принципов. Опыт работы с языком программирования Python от 2х лет. Опыт работы с Django...
Опыт проектирования и развития высоконагруженных систем. Опыт работы с MySQL / Postgres. Опыт работы с Sphinx. Опыт работы c redis / rabbitmq. 
Уверенное знание Django или другого вебфреймворка на Python. Понимание, как делать API с использованием архитектуры REST. Умение писать тесты. 
3 года опыта в разработке ПО в качестве BackEnd разработчика Python. Опыт проектирования вебприложения с нуля. Опыт работы с...
Python (Django), Oracle Apex. Oracle DB, MS SQL. Oracle Data Integrator, SQL Server Integration Services. YouTrack, Confluence. Git, GitLab. ​​​​​​​
Опыт разработки на Python/Django от 3х лет. Опыт работы с PostgreSQL/Redis. Опыт коммерческой разработки REST API. 
Опыт вебразработки от одного года, программирования не менее трёх лет. Умение разбираться в чужом коде. Опыт разработки сложных проектов. 
Опыт разработки на Python/Django от 3х лет. Опыт работы с PostgreSQL/Redis. Опыт коммерческой разработки REST API. 
Опыт разработки на Python/Django от 3х лет. Опыт работы с PostgreSQL/Redis. Опыт коммерческой разработки REST API. 
Высшее образование в сфере IT. Опыт практической работы от 3 лет. Знание SQL, PL/SQL, Python, Django, Vue, HTML, CSS...
Развитие не только теоретических знаний, но и практических умений и навыков программирования у слушателей. Отличное знание Python Django. 
Опыт разработки на Python/Django от 3х лет. Опыт работы с PostgreSQL/Redis. Опыт коммерческой разработки REST API. 
Опыт разработки на Python (3.8 и выше). Уверенное знание принципов ООП и основных шаблонов проектирования. Опыт разработки пользовательского интерфейса...
Уверенного знания Python(стандартная библиотека  фреймворки). Опыта в коммерческой/корпоративной разработке от 2х лет. Опыта проектирования архитектуры системы. 
Python / Django (3 лет опыта коммерческой разработки). English B1 и выше. Понимание SQL. Знание Design Patterns. Опыт работы с...
Python / Django 3 лет опыта коммерческой разработки. English B1 и выше. Понимание SQL. Знание Design Patterns. Опыт работы с...
Опыт работы  от 3 лет.  SQL.  Опыт взаимодействия с REST API.
