Что мы хотим видеть в коллеге: Знание языка Python 3.x. Знание языка SQL (опыт работы с СУБД Oracle, PostgreSQL...
Опыт работы не менее года.  Знание Python 3.  Понимание структур данных и базовых алгоритмов.  Понимание принципов ООП.  Опыт разработки с...
Понимание ООП и методик разработки ПО (SOLID, TDD). Знание Python 3 на уровне middle developer. Опыт работы с реляционными СУБД. 
Опыт в рефакторинге, декомпозиции, построении модульных приложений. Знание git. Опыт работы с SQL (желательно с PostgreSQL). Python 3.8. Flask. 
SQLAlchemy / Django_ORM. PostgeSQL. Python Web stack (uWSGI, Docker, Celery, Redis/Memcached). PyTest / Unittest. Python 3.8/3.9. 
Знаешь Python, умеешь обрабатывать данные с помощью pandas, NumPy и Plotly. Есть опыт работы с SQL. Есть опыт работы с...
Отличное знание языка Python (3.7), опыт промышленной разработки от 3х лет. Навыки написания юниттестов (py.test, mock и...
Умение писать асинхронный код. Умение работы с PostgreSQL из Python. Умение работы с RabbitMQ из Python (желательно).
Понимание принципов ООП и шаблонов проектирования, умение применять их на практике. Владение языком программирования Python. Умение писать модульные (unit) тесты...
Необходимы знания: Python 3.7, asyncio. Приветствуются:
Опыт работы с Django, DjangoCMS. Знание Python, PHP. Знание HTML5, CSS3.
опыт разработки на Python 2 и 3 от 3х лет.  занине SQL и есть опыт работы с PostgreSQL.  
Уверенное владение С и готовность на нём разрабатывать (от 4 лет опыта). Навыки проектирования распределённых решений или опыт оптимизаций на...
None
Работал с Python 3, вебфреймоворками (Flask, Django). Знает классические алгоритмы и структуры баз данных, сортировки. Преимуществом будет опыт работы...
Навыки работы с Python/Django. Навыки работы с MySQL/Postgres, Redis. Навыки работы с HTML/CSS. Опыт работы с Linux...
Уверенное знание python3. Знание сетевых протоколов HTTP, WebSocket. Продвинутое знание Django (Django REST Framework). Знание SQL, опыт работы с...
Готовы рассмотреть студентов последнего курса и выпускников. Знание C# и/или Python. Базовые знания по работе с БД (SQL/NOSQL). 
ОПЫТ И ПРОФЕССИОНАЛЬНЫЕ НАВЫКИ: Уверенное знание языка и библиотек Python. Умение работать с Git. Высшее техническое образование. Опыт работы по...
Backend разработка, опыт fullstack разработки на PythonDjango будет являться преимуществом. Опыт в рефакторинге, декомпозиции, построении модульных приложений. 
